---
import Title from '../../components/Title.astro';
import ImageSlider from '../../components/ImageSlider.astro';

import { Image } from 'astro:assets';

import higlightsImage1 from '../../images/highlights-image-1.jpg';
import higlightsImage2 from '../../images/highlights-image-2.jpg';
import higlightsImage3 from '../../images/highlights-image-3.jpg';
import bozzhyraPlacesImage from '../../images/bozzhyra-places-image.png';

const placesImages = [
  {
    src: higlightsImage1,
    alt: 'Mangistau landscape',
    title: 'АКТАУ - ОЧАРОВАНИЕ ПРИКАСПИЙСКОГО ПОБЕРЕЖЬЯ',
  },
  {
    src: higlightsImage2,
    alt: 'Mangistau landscape',
    title: 'АКТАУ - ОЧАРОВАНИЕ ПРИКАСПИЙСКОГО ПОБЕРЕЖЬЯ',
  },
  {
    src: higlightsImage3,
    alt: 'Mangistau landscape',
    title: 'АКТАУ - ОЧАРОВАНИЕ ПРИКАСПИЙСКОГО ПОБЕРЕЖЬЯ',
  },
];
---

<div class="flex h-auto w-full flex-col bg-white text-[#3D3F46] lg:h-[1080px] lg:flex-row">
  <div class="flex h-full flex-col justify-between gap-20 px-4 py-12 md:px-8 md:py-12 lg:w-1/2">
    <div class="flex flex-col gap-6">
      <Title
        text={'Бозжыра — инопланетный пейзаж Казахстана'}
        type="default"
        className="text-[#3D3F46]!"
      />
      <div class="flex flex-col gap-4 text-2xl">
        <p>
          Среди бескрайних просторов Мангистау возвышаются причудливые скалы Бозжыры — одно из самых
          загадочных и захватывающих мест Казахстана. Эти пейзажи, напоминающие кадры из
          фантастических фильмов, поражают воображение: белоснежные хребты, острые пики и глубокие
          ущелья создают атмосферу другой планеты.
        </p>
        <p>
          Здесь особенно ощущается мощь природы и вечность времени. Бозжыра — идеальное место для
          вдохновения, приключений и незабываемых фото.
        </p>
      </div>
    </div>

    <ImageSlider images={placesImages} sliderId="places-slider" />
  </div>
  <div
    class="relative hidden h-full w-full items-end justify-end md:flex md:h-[720px] lg:h-auto lg:w-1/2"
  >
    <Image
      src={bozzhyraPlacesImage}
      alt="Актау — Очарование Прикаспийского побережья"
      class="absolute hidden h-full w-full object-cover md:block"
    />
  </div>
</div>
