---
import '../styles/global.css';
import Header from '../sections/Header.astro';
import Hero from '../sections/Hero.astro';
import Guider from '../sections/Guider.astro';

interface Props {
  title: string;
  description?: string;
}

const { title, description = 'Туристический сайт города Актау' } = Astro.props;
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="min-h-screen w-full">
    <Header />
    <main class="mx-auto max-w-[1920px]">
      <Hero />
      <Guider />
    </main>

    <!-- You can add a footer component here -->
  </body>
</html>
