---
interface Props {
  text: string;
  link: string;
}

const { text, link } = Astro.props;
---

<button class="inline-flex">
  <a
    href={link}
    class="rounded-full border-2 border-white px-8 py-3 text-lg font-medium text-white uppercase transition-colors duration-300 hover:bg-white hover:text-gray-800"
  >
    {text}
  </a>
</button>
