---
interface Props {
  type: 'hero' | 'default';
  text: string;
  className?: string;
}

const { text, className = '', type } = Astro.props;

const textSizeClass = {
  hero: 'text-3xl sm:text-5xl xl:text-6xl 2xl:text-7xl',
  default: 'text-2xl sm:text-4xl xl:text-5xl 2xl:text-6xl',
}[type];
---

<h1
  class={`text-white uppercase w-full ${textSizeClass} font-medium leading-[103%] tracking-[-1.1%] ${className}`}
>
  {text}
</h1>
