---
interface Props {
  text: string;
  type: 'hero' | 'default';
}

const { text, type } = Astro.props;

const textSizeClass = {
  hero: 'text-5xl lg:text-6xl xl:text-7xl',
  default: 'text-4xl md:text-5xl 2xl:text-6xl',
}[type];
---

<h1
  class={`text-white uppercase w-full ${textSizeClass} font-medium leading-[103%] tracking-[-1.1%]`}
>
  {text}
</h1>
